.c-album-container {
  @include flex-container(column, stretch)
}

.c-album {
  padding: $base-spacing-unit;
  border-radius: $base-radius;
  margin-bottom: $base-spacing-unit-large;
  box-shadow: 0 0 2px 2px $color-alpha;
  @include flex-container($align: flex-start);

}

.c-album__image {
  display: inline-block;
  margin-right: $base-spacing-unit-large;
  width: 150px;
  height: 150px;

}

.c-album__info {
  flex-grow: 1;
}

.c-album__tracks__list {
  list-style: none;
}

.c-album__tracks__header,
.c-album__tracks__list__track {
  text-align: right;
}