.c-controls {
  @include flex-container(column, center, center);
  padding: $base-spacing-unit;
}

.button {
  background-color: $color-blue;
  border: none;
  border-radius: $base-radius;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  margin: 0.5em 0;
  padding: 0.5em;
  text-align: center;
  user-select: none;
  width: 125px;

  &:hover,
  &:active {
    background-color: $color-blue-dark;
  }

  &:disabled {
    background-color: $color-grey-light;
    cursor: not-allowed;
  }
}

.button--lg {
  @extend .button;
  @include font-size(24px)
}

.button--md {
  @extend .button;
  @include font-size(20px)
}

.button--sm {
  @extend .button;
  @include font-size(16px, 16px);
}

.coves-form__checkbox-container {
  @include flex-container();
  margin: 0.5em 0;
}

.coves-form__checkbox-container__fake-label {
  position: relative;
  background: $color-white;
  border: 1px solid $color-blue;
  border-radius: $base-radius;
  height: $base-spacing-unit-large;
  width: $base-spacing-unit-large;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.check-mark {
  display: inline-block;
  position: absolute;
  top: 2px;
  left: 7px;
  opacity: 0;
  width: 9px;
  height: 14px;
  border: 4px solid $color-blue;
  border-top: none;
  border-left: none;
  transform: rotateZ(45deg);
}

.coves-form__checkbox-container input[type=checkbox]:checked + .coves-form__checkbox-container__fake-label .check-mark {
  opacity: 1;
}

.check-label {
  padding-left: $base-spacing-unit / 2;
  user-select: none;
  cursor: pointer;
}

.coves-form__checkbox-container input[type=checkbox]:disabled + .coves-form__checkbox-container__fake-label {
  border: 1px solid $color-grey-light;
  cursor: not-allowed;
}

.coves-form__checkbox-container input[type=checkbox]:disabled + .coves-form__checkbox-container__fake-label .check-mark {
  border-color: $color-grey-light;
}

.coves-form__checkbox-container input[type=checkbox]:disabled ~ .check-label {
  color: $color-grey-light;
  cursor: not-allowed;
}

#timer {
  @include font-size(40px);
  font-weight: 600;

  &.alert {
    color: $color-red;
  }
}